
:root {
  /* colors */
  --primary-color: firebrick;
  --secondary-color: #f0f0f0;
  --black: #111;

  /* spacing */
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

.header {
  height: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--primary-color);
  color:  var(--secondary-color)
}

.form-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing-medium);
}

.form-container-title {
  margin-bottom: var(--spacing-large);
}

.form-wrapper {
  padding: var(--spacing-medium);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  position: relative;
}

.form-title {
  margin-bottom: var(--spacing-medium);
}

.form {
  overflow: scroll;
}

.form-header, 
.form-row {
  display: flex;
  margin-bottom: 5px;
}


.form-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 125px;
  margin-right: 5px;
  padding: 15px 5px;
  border-radius: 5px;
  text-align: center;
}

.column-heading {
  background: firebrick;
  color: white;
}

.column-body-item {
  box-shadow: 3px 3px 10px rgba(var(--black), 0.1);
}

.form-input {
  display: flex;
  align-items: center;
}

.form-input p {
  margin-right: 5px;
}

.form-input input {
  padding: 5px;
  border: 1.5px solid var(--black);
  border-radius: 5px;
}